# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Insert code and markdown cells
* List popular languages for Data Science
* List some libraries used by Data Scientists
* Create cell with a table of Data Science tools
* Evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C/C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. SciKit-Learn
5. TensorFlow
6. PyTorch

|Data Science Tools|
-------------------
|Jupyter Notebooks|
|JupyterLab|
|R Studio’s|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Ledián González Galindo